.app-header-container {
  width: 100%;
  height: 80px;
}


.app-header {
  display: flex;
  justify-content: center;
  align-items: center;


  height: 100%;

  .header-logo-container {
    display: flex;
    flex: 1 0 75px;

    .logo {
      cursor: pointer;
    }
  }

  .header-filter-container {
    flex-grow: 1;
    min-width: 348px;
    padding: 0 24px;
  }

  .header-menu-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }

}