// styles.scss
@import '../setup/ui';

.dashboard {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(490px, 1fr));
  grid-gap: 20px;
}
.chart {
  &-rectangle {
    @extend .container;
    aspect-ratio: 2/1;
    max-width: 490px;
    height: 100%;
  }

  &-square {
    display: inline-block;
    max-width: 160px;
  }
}

.chart-info {
  display: flex;
  flex-direction: column;

  &-title {
    margin: 1rem 0 2rem 0;
  }
  &-amount {
    font-size: 32px;
    font-family: cereal-Medium;
    margin-bottom: 1rem;
  }

  &-last-amount {
  }
}
