.chat-app {
  padding-bottom: 0px !important;
  form{
    display: flex;
    flex:1;
    width: 100%;
    gap:10px;
    border-top:1px solid $clr-border;
    padding-inline:10px;
    & > *{
    width: auto;
    }
    input{
      flex: 1;
      border: none;
      border-radius: 45px;
      border: 1px solid $clr-border;
      padding: 10px 20px;
      font-size: 16px;
      &:focus{
        outline: none;
      }
    }

  }
}

.spacer {
  flex-grow: 1;
}

.inbox-container {
  height: 100%;

  display: flex;
  height: calc(100vh - 80px);

}

.inbox-column {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;

  &-header {
    height: 72px;
    padding-left: 20px;
    padding-right: 10px;

    border-bottom: 1px solid $clr-border;

    h1,
    h2 {
      font-size: 18px;
      line-height: 72px;
      font-family: cereal-Medium;
    }
  }

  .contacts {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
  }

  .msg-previews-list{
    padding-right: 10px;
  }

}



.chat-msgs {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  overflow-y: auto;
  padding: 0 20px;
  padding-bottom: 20px;
}

.chat-input {
  margin: 0 auto;
  display: flex;
  max-width: 684px;
  width: 100%;
}


.chat {
  border-left: 1px solid $clr-border;
  border-right: 1px solid $clr-border;
}