.modal .content-container {
    position: relative;
    .close-modal-btn-container {
        position: absolute;
        display: flex;
        top: 16px;
        left: 24px;
        z-index: 1;
    }

    .close-modal-btn {
        border-radius: 50%;
        background-color: transparent;
        cursor: pointer;
        padding: 0;
        margin: 0;
        border: none;
        background: transparent;
        transition: transform 0.25s ease;

        &:active {
            transform: scale(0.92);
        }

        &:hover {
            color: $clr-black;
        }

        svg {
            display: block;
            fill: none;
            height: 16px;
            width: 16px;
            stroke: currentcolor;
            stroke-width: 3;
            overflow: visible;
        }
    }

}

.login-page {
    .login-signup-header {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 64px;
        border-bottom: 1px solid $clr-border;

        h1 {
            font-family: cereal-bold;
            font-size: rem(16px);
            line-height: rem(20px) ;
        }
    }

    .demo-login-btns {
        display: flex;
        justify-content: space-around;
    }
}