.modal {
  border-radius: 12px;
  background-color: #fefefe;
  border: 1px solid #888;
  width: 80vw;
  padding:2rem;
  max-width: 650px;
  box-shadow: 3px 3px 10px rgba(0 0 0 / 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);


  .close-modal-btn-container {
    margin-bottom: 10px;
    float:left;
}

  z-index: 999;

  .reviews-list{
    display:block;
    padding-top: 10px;
    max-height: 80vh;
    overflow: scroll;
    overflow-x: hidden;
    
    .review-prev{
      margin-right:0;
      
    }
  }
}

.modal::backdrop {
  background: hsla(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.1);
}


.modal .content-container {
  position: relative;
  z-index: -1;

}


.stay-index-footer{

  .modal{
    top: 67% !important;
  }
}



