.nav-menu {
  position: relative;
  z-index: 1;

  .menu-btn {
    padding: 5px 5px 5px 12px;
    display: inline-flex;
    background: transparent;
    cursor: pointer;
    margin: 0;
    text-align: inherit;
    background-color: $clr-white;
    border: 1px solid $clr-border;
    border-radius: 21px;
    transition: box-shadow 0.2s ease;
    align-items: center;

    &:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    }

    .menu-avatar {
      display: flex;
      position: relative;
      width: 30px;
      margin-left: 12px;
      vertical-align: middle;
    }

    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }

  .menu-links {
    position: absolute;
    right: 0;
    background: $clr-white;
    border-radius: 12px;
    box-shadow: 0 2px 16px rgb(0 0 0 / 12%);
    margin-top: 13px;
    padding: 8px 0;
    display: block;
    min-width: 240px;

    @include for-mobile-layout {
      transform: translate(0%, -120%);
    }

    > * {
      text-decoration: none;
      color: inherit;
      display: flex;
      background: transparent;
      border: 0;
      cursor: pointer;
      margin: 0;
      text-align: inherit;
      padding: 12px 16px;
      min-width: 100%;
    }

    > *:hover {
      background-color: $clr-hover-bg;
    }
  }

  .notificaiton-badge {
    background-color: $clr-brand;
    box-shadow: 0 0 0 1.5px $clr-white;
    color: $clr-white;
    font-size: rem(10px);
    font-family: cereal-medium;
    height: 1rem;
    min-width: 1rem;
    line-height: 16px;
    top: -2px;
    position: absolute;
    z-index: 1;
    left: 100%;
    margin-left: -14px;
    border-radius: 500px;
    padding: 0 0.3125rem;
    text-align: center;
  }
}
