.chat-wrapper {
    width: 100%;
}

.messageText {
    min-height: 1em;
    padding: 0 10px;
    /* prevent height collapsing when there is no text */
    max-height: 97px;
    /* max-width: 70ch; */
    align-content: center;
    outline: none;
    /* overflow: hidden; */
    /* width: 100%; */
    white-space: pre-wrap;
    word-wrap: break-word;
    flex-grow: 1;

}


.wrapper {
    width: 387px;
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 20px;
    padding: 5px;

    /* the container will keep the padding untouched */
    max-height: 145px;
    /* added padding to the height of the .message-text */
    display: flex;
}

*:focus-visible,
*:focus {
    outline: none;
    outline-width: 0;
}

.wrapper:focus-visible,
.wrapper:focus-within {
    border: 2px solid black;

}

button {
    border: none;

}