@import '../../setup/ui';

.order-modal {
  position: sticky;
  top: 130px;


  .lower-rate-container {
    padding: 1.5rem;
    border: 1px solid $clr-border;
    border-radius: 12px;
    margin-left: 8.333333333333332%;
    margin-top: 1.5rem;
    max-width: 400px;

    .lower-rate {
      line-height: 1.25rem;


      .lower-rate-txt {
        padding-right: 1rem;

        .lower-price-txt {
          margin-right: 0.5rem;
          font-family: cereal-Bold;
        }
      }

      .rate-tag-img {
        display: block;
        height: 2rem;
        width: 2rem;
        fill: $clr-brand;
        stroke: currentColor;
      }


    }
  }


}

.order-modal-form {
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  margin-top: 32px;
  margin-left: 8.333333333333332%;
  border: 1px solid $clr-border;
  border-radius: 12px;
  padding: 24px;
  //   top: 128px;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
  max-width: 400px;

  &>* {
    width: unset;
  }

  .order-form-header {
    justify-content: space-between;

    h4 {
      span {
        font-weight: 600;
        font-size: 1.375em;
      }
    }

    .order-rating-review {
      font-size: 13px;
      font-weight: 600;
      align-items: center;
      gap: 0.1875em;
    }
  }

  .date-picker-modal {
    position: relative;
  }


  .rdrCalendarWrapper {
    @extend .container;
    position: absolute;
    right: 110%;
    z-index: 10;
  }

  .picker-container {
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid $clr-border-dark;

    .order-heading {
      font-size: 0.625rem;
      font-family: cereal-medium;
      text-transform: uppercase;
    }

    .order-sub-heading {
      font-size: rem(14px);
    }

    .dates-selection {
      justify-content: space-between;
      position: relative;

      .check-out {
        border-left: 1px solid $clr-border-dark;
      }

      .picker {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 7px 12px;
        width: 50%;
        font-size: 0.625em;

      }
    }

    .guest-picker {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 7px 12px;
      width: 100%;
      border-top: 1px solid $clr-border-dark;
      position: relative;

      .drawer-arrow-icon {
        position: absolute;
        top: 30%;
        right: 13px;
      }

      .guest-btn {
        text-align: left;
      }


      .guest-select-container-small {
        border-radius: 4px;
        background: $clr-white;
        box-shadow: rgb(0 0 0 / 15%) 0px 2px 6px, rgb(0 0 0 / 7%) 0px 0px 0px 1px;
        box-sizing: border-box;
        margin-bottom: 16px;
        padding: 16px;
        position: absolute;
        text-align: left;
        top: 55px;
        z-index: 999;
        left: 0px;
        width: 100%;

        .guest-select-list {
          max-width: 100%;
        }

        .guest-select-row {
          margin: 24px 0;
        }

        .guest-select-row:first-child {
          margin-top: 8px;
          margin-bottom: 24px;
        }

      }
    }


  }

  .order-details {
    gap: 25px;
    flex-direction: column;

    .no-charge-msg {
      text-align: center;
    }

    .prices {
      grid-template-columns: 1fr 1fr;
      padding-bottom: 15px;
      border-bottom: 1px solid $clr-border-dark;
      gap: 10px;
      font-size: 0.9rem;

      &>*:nth-child(odd) {
        text-decoration: underline;
      }

      &>*:nth-child(even) {
        justify-self: end;
      }
    }

    .total {
      font-weight: 600;
      color: $clr-svg-imgs;
      font-family: cereal-Bold;
    }
  }



}

.order-confirmation-modal {
  // position: absolute;
  top: 50%;
  left: 50%;
  // transform: translate(-50%, -50%);
  border: solid 2px black;
}