.secondary-header-container{
    position: fixed;
    background-color: $clr-white;
    width: 100%;
    z-index: 100;
    top: 0;
    height: 80px;
    justify-content: space-between;

    &::after {
        content: "";
        top: 81px;
        border-bottom: 1px solid hsl(0deg, 0%, 87%);
        z-index: -1;
        position: absolute;
        right: 0;
        left: 0;
    }
    @include for-max-narrow-layout {
        display: none !important;
      }
}

.secondary-header {
    height: 100%;
    display: flex;

    .anchor-links {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .anchor-link {
        height: 100%;
        color: $clr-text-primary;
        display: flex;
        align-items: center;
        margin-right: 24px;
        font-size: rem(14px);
        font-family: cereal-medium;
        position: relative;
        text-decoration: none;

        &::after {
            background-color: $clr-text-primary;
            content: "";
            display: block;
            bottom: 0px;
            height: 4px;
            opacity: 0;
            position: absolute;
            transition: opacity 0.15s ease 0s;
            width: 100%;
        }

        &:hover::after {
            opacity: 1;
        }
    }

    .book-it-details {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: flex-end;
        gap:16px;
        white-space: nowrap;
        .order-form-header{
            display: grid;
            h4{
                font-family: cereal-book;
                font-size: 14px;
            }
            h4>span{
                font-family: cereal-medium;
                font-size: 16px;
            }
            .order-rating-review{
            font-size: 12px;
            font-family: cereal-medium;
            }
            .order-rating-review>*:not(:last-child){
                padding-inline-end: 6px;
            }
            .stay-rating{
                text-decoration: underline;
                color: $clr-text-lighter;
            }
        }
        button {
            min-width: 0px;
            max-width: min-content;
            max-height: 48px;
            font-family: cereal-book;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
    }
}