.stay-highlights {





    .highlight-img {
        display: block;
        height: 1.5rem;
        width: 1.5rem;
        color: #222222;
        fill: currentColor;
    }

    .highlight-txt {
        margin-left: 1rem;
        padding-bottom: 1rem;

        h3 {
            font-size: 1rem;
            font-family: 'cereal-Bold';
        }

        p{
            font-size: em(14px, 16px);
            font-family: 'cereal-Book';
            color: $clr-text-lighter;
        }
    }


}