* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: cereal-regular;
  font-size: 1rem;
  line-height: 1.6;
  color: $clr-text-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: cereal-Medium;
  margin: 0 0 0.6em;
  line-height: 1;
}

img {
  width: 100%;
  aspect-ratio: 1/1;
}


// .akebnb-btn {
//   position: relative;
//   width: 100%;
//   height: 48px;
//   padding: 0 0;
//   margin: 0 0;
//   cursor: pointer;
//   border: none;
//   display: grid;
//   grid-template: repeat(10, 1fr) / repeat(10, 1fr);

//   @for $i from 0 to 10 {
//     .cell:nth-child(10n + #{$i + 1}):hover~.content {
//       --positionX: #{$i};
//     }

//     .cell:nth-child(n + #{10 * $i + 1}):nth-child(-n + #{10 * ($i + 1)}):hover~.content {
//       --positionY: #{$i};
//     }
//   }
// }


button {
  font-size: inherit;
  background-color: inherit;
  font-family: inherit;
  cursor: pointer;

  &.show-more {
    margin-top: 10px;
    background-color: transparent;
    text-decoration: underline;
    font-weight: 700;
    font-size: inherit;
    padding: 0;
    border: 0;
    width: max-content;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
