.main-layout {
  padding-left: 24px;
  padding-right: 24px;
  margin: auto;

  @include for-narrow-layout {
    padding: 0 $mobile-layout-padding;
  }

  @include for-wide-layout {
    padding: 0 $normal-layout-padding;
  }

  @include for-large-layout {
    padding: 0 $wide-layout-padding;
    max-width: $primary-max-width;
  }
}

.stay-index{
  .header-logo-container{
    @include for-mobile-layout {
      display: none !important;
    }
  }

  .header-menu-container{
    .nav-menu{
      @include for-mobile-layout {
        display: none;
      }
    }
  }
}

.secondary-layout {
  max-width: $secondary-max-width;
  margin: auto;
  padding-inline: $normal-layout-padding;

  
  @include for-mobile-layout {
    padding: 0;
    &.app-header .logo, &.app-header .nav-menu{
      display: none;
    }
  }
  @include for-max-narrow-layout {
    padding: 0;
  }


  @include for-wide-layout {
    padding: 0 $wide-layout-padding;
  }


}

.card-grid {
  display: grid;
  row-gap: 40px;
  column-gap: 24px;
  grid-template-columns: 1, repeat(1, 1fr);

  @media (max-width: $grid-break-point-1) {
    grid-template-columns: repeat(2, minmax(0,1fr))
    
  }

  @media (min-width: $grid-break-point-1)  {
    grid-template-columns: repeat(3, minmax(0,1fr));
  }

  @media (min-width: $grid-break-point-2) {
    grid-template-columns: repeat(4, minmax(0,1fr));
  }

  @media (min-width: $grid-break-point-4) {
    grid-template-columns: repeat(5, minmax(0,1fr))
  }

}



