.host-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-link {
  font-size: 14px;
  padding: 10px 16px;
  line-height: 18px;

  font-family: cereal-Bold;
  color: $clr-text-secondary;

  text-decoration: none;

  &.active {
    color: $clr-text-primary;
  }
}
