.messages-page {
  padding-bottom: 0px !important;
}
.spacer {
  flex-grow: 1;
}

//MAIN
.inbox-container {
  display: flex;
  height: calc(100vh - 80px);
  flex-direction: row;

  //3 Column LAYOUT
  .inbox-column {
    display: flex;
    flex-direction: column;

    &.orders-list {
      flex: 1 0 1;
    }

    &.messages {
      flex-direction: column;
      flex: 1 1 0;
      overflow-y: auto;
      padding-bottom: 20px;
      border-left: 1px solid $clr-border;
      border-right: 1px solid $clr-border;
    }

    &.order-details {
      flex: 1 0 1;
      min-width: 385px;


      @media (max-width: 1190px) {
        display: none;
    }


    }
  }

  .inbox-header {
    height: 72px;
    // border-bottom: 1px solid $clr-border;
    // margin-bottom: auto;
    padding-left: 20px;

    &.all-orders{
      padding-left: 0 !important;
    }

    h1,
    h2 {
      font-size: 18px;
      line-height: 72px;
      font-family: cereal-Medium;
      padding-right: 10px;
    }

    
  }
}


//CHAT ROOM
.chat-room {
  .chat-input {
    margin: 0 auto;
    display: flex;
    max-width: 684px;
    width: 100%;
    border-bottom: 1px solid $clr-border;

    form {
      display: flex;
      flex: 1;
      width: 100%;
      gap: 10px;
      border-top: 1px solid $clr-border;
      padding-inline: 10px;

      & > * {
        width: auto;
      }
    }

    input {
      flex: 1;
      border: none;
      border-radius: 45px;
      border: 1px solid $clr-border;
      padding: 10px 20px;
      font-size: 16px;

      &:focus {
        outline: none;
      }
    }
  }
}
