.stay-details {
  letter-spacing: 0.007em;

  @include for-max-narrow-layout {
    padding-bottom: 84px;
  }

  .title {
    font-family: cereal-book;
    font-size: 1.625rem;
    line-height: 1.875rem;
    margin-bottom: rem(7px);

    @include for-max-narrow-layout {
      font-size: em(20px, 16px);
    }
  }

  .stay-title-subheader {
    margin-top: rem(4px);
  }

  .name-subtitle {
    gap: 0.25rem;
    align-self: center;
    font-family: cereal-Medium;
    font-size: 0.875rem;

    .total-avg-star {
      margin-top: 0.125rem;
    }

    .stay-rating {
      text-decoration: underline;
    }

    .stay-location {
      text-decoration: underline;
    }
  }

  .save-stay {
    border: none;
    padding: 0.5rem;
    font-size: 0.875rem;
    font-family: cereal-Medium;

    @include for-max-narrow-layout {
      display: none;
    }

    .heart {
      display: flex;

      .details-heart {
        margin-right: 0.5rem;
        margin-top: 0.15rem;
      }
    }
  }

  &>* {
    margin-top: 18px;
  }

  .images-container {
    margin-top: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50% 50%;
    border-radius: 12px;

    @include for-max-narrow-layout {
      grid-column: 1/-1;
      grid-template: repeat(2, 275px) / 1fr;
      border-radius: 0;

      >*:not(:first-child) {
        display: none;
      }
    }

    gap: 8px;
    overflow: hidden;

    :first-child {
      grid-row: 1/3;
      grid-column: 1/3;

      @include for-max-narrow-layout {
        grid-column: 1/-1;
        aspect-ratio: 3/2;
      }
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .air-cover {
    padding-block: 32px;

    h3 {
      margin: 0 0 15px;
      font-size: 2em;
      font-weight: 700;
    }

    span {
      color: $clr-brand;
    }
  }

  .stay-review-mid {
    grid-template-columns: 1.45fr 1fr;

    @include for-max-narrow-layout {
      grid-template-columns: 1fr;
      padding-inline: em(24px, 16px);
      border-bottom: none;
    }


    .stay-review-details {
      min-width: 58.3333%;

      @include for-max-narrow-layout {
        width: 100%
      }

      &>* {
        padding-block: rem(32px);
      }

      .stay-calendar {
        padding-block: unset;
      }

      .secondary-title {
        font-size: 1.25rem;
        line-height: 1.75rem;
      }

      .about-host {

        padding-bottom: 1.5rem;

        .header {

          h2 {
            margin-bottom: 0.3em;
            font-size: 1.375rem;
            font-family: cereal-Bold;
          }

          .host-img {
            height: rem(56px);
            width: rem(56px);
            border-radius: 50%;
          }
        }
      }


      .stay-amenities {
        .amenities-container {

          margin-left: -8px;
          margin-right: -8px;
          width: calc(100% + 16px);
          -webkit-box-pack: start;
          -webkit-box-align: stretch;
          justify-content: flex-start;
          align-items: stretch;
          flex-wrap: wrap;
          line-height: 1.25rem;
          margin-bottom: rem(24px);



          li {
            display: flex;
            align-items: center;
            width: 50%;
            padding-left: rem(8px);
            padding-right: rem(8px);
            padding-bottom: rem(16px);
          }

          .amenity-img {
            display: block;
            height: rem(24px);
            width: rem(24px);
            color: $clr-svg-imgs;
            fill: currentColor;
          }

          .amenity-name {
            letter-spacing: 0.007em;
            padding-left: 1rem;
          }
        }
      }
    }

    .stay-review-order {
      position: relative;
      margin-bottom: rem(32px);

      @include for-max-narrow-layout {
        display: none;
      }


    }
  }

  .reviews {
    @include for-max-narrow-layout {
      padding-inline: em(24px, 16px);
      border-top: solid 1px $clr-border;
      padding-top: rem(24px);
    }

  }

  .stay-map {
    @include for-max-narrow-layout {
      padding-inline: em(24px, 16px);
    }

  }

  .stay-about-host {
    @include for-max-narrow-layout {
      padding-inline: em(24px, 16px);
    }

  }

  .stay-mid-reviews {

    font-weight: unset;
    gap: rem(4px);
    font-size: 1.5rem;

    .total-avg-star {
      margin-top: 0.25rem;
      padding-right: rem(4px);
      font-size: 1rem;
    }
  }



  .details-app-footer {
    @include for-max-narrow-layout {
      display: none !important;
    }


  }
}

.footer-btn-link {
  color: inherit;
  text-decoration: none;
}