.sudo-header {
  position: sticky;
  background-color: $clr-white;
  width: 100vw;
  z-index: 100;
  border-bottom: 1px solid $clr-border;
  top: 0;
  height: 80px;
  display: flex;
  justify-content: space-between;

  .anchor-links {
    display: flex;
    align-items: center;


  }

  .anchor-link {
    height: 100%;
    color: $clr-text-primary;
    display: flex;
    align-items: center;
    margin-right: 24px;
    font-size: rem(14px);
    font-family: cereal-medium;
    position: relative;
    text-decoration: none;

    &::after {
      background-color: $clr-text-primary;
      content: "";
      display: block;
      bottom: 0px;
      height: 4px;
      opacity: 0;
      position: absolute;
      transition: opacity 0.15s ease 0s;
      width: 100%;
    }

    &:hover::after {
      opacity: 1;
    }
  }
}

.stay-details {
  letter-spacing: 0.007em;


  .title {
    font-family: cereal-regular;
    font-size: 1.625rem;
    line-height: 1.875rem;
  }


  .name-subtitle {
    gap: 0.5rem;
  }

  .save-stay {
    border: none;
    padding: 0.5rem;

    .heart {
      display: flex;

      .details-heart {
        margin-right: 0.5rem;
        margin-top: 0.15rem;
      }
    }
  }

  &>* {
    margin-top: 18px;
  }

  .images-container {
    margin-top: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50% 50%;
    gap: 8px;

    border-radius: 12px;
    overflow: hidden;

    :first-child {
      grid-row: 1/3;
      grid-column: 1/3;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .air-cover {
    padding-block: 32px;

    h3 {
      margin: 0 0 15px;
      font-size: 2em;
      font-weight: 700;
    }

    span {
      color: $clr-brand;
    }
  }

  .stay-review-mid {
    grid-template-columns: 1.45fr 1fr;

    .stay-review-details {
      min-width: 58.3333%;

      &>* {
        padding-block: 32px;
      }

      .stay-calendar {
        padding-block: unset;
      }

      .secondary-title {
        font-size: 1.25rem;
        line-height: 1.75rem;
      }


      .about-host {

        padding-bottom: 1.5rem;

        .header {

          h2 {
            margin-bottom: 0.3em;
            font-size: 1.375rem;
            font-family: cereal-Bold;
          }

          .host-img {
            height: 56px;
            width: 56px;
            border-radius: 50%;
          }
        }
      }

      .stay-amenities {
        .amenities-container {

          margin-left: -8px;
          margin-right: -8px;
          width: calc(100% + 16px);
          -webkit-box-pack: start;
          -webkit-box-align: stretch;
          justify-content: flex-start;
          align-items: stretch;
          flex-wrap: wrap;
          line-height: 1.25rem;
          margin-bottom: 24px;

          li {
            display: flex;
            align-items: center;
            width: 50%;
            padding-left: 8px;
            padding-right: 8px;
            padding-bottom: 16px;
          }

          .amenity-img {
            display: block;
            height: 24px;
            width: 24px;
            color: $clr-svg-imgs;
            fill: currentColor;
          }

          .amenity-name {
            letter-spacing: 0.007em;
            padding-left: 1rem;
          }


        }
      }


    }

    .stay-review-order {
      position: relative;
      margin-bottom: 32px;
    }
  }
}