.wishlist-img {
  max-width: 72px;
  border-radius: 8px;
}

.wishlist-title {
  padding-top: 64px;
  padding-bottom: 48px;
  gap: 32px;
  align-items: center;
  border: none;
  line-height: 1.25rem;

  .icon-svg {
    width: 35px;
    line-height: 1;
    padding: 0;
    margin-right: 12px;

    .arrow-img {
      display: block;
      fill: none;
      stroke-width: 3;
      overflow: visible;
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }

}

// @include for-max-narrow-layout {}
