.inbox-list-container{
    flex: 1;
    display: flex;
    overflow: auto;
.chat-order-list{
    min-height: -webkit-min-content;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}
}


 //CHAT-ORDER-LIST
.chat-order-preview {
        display: grid;
        padding: 0.5em 0rem;
        grid-template-columns: 60px auto;
        grid-template-rows: 30px auto;
        grid-template-areas:
            'chat-order-avatar chat-order-name'
            'chat-order-avatar chat-order-name';
        column-gap: 10px;
        height: 110px;
        padding: 0.5rem 1rem;
        border-bottom: 1px solid $clr-border;
        cursor: pointer;
        // border-bottom: 1px solid $clr-border;

        &:hover, &.active {
            box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
            z-index: 2;
            cursor: pointer;
        }

        &.active {
            border: 1px solid $clr-border-dark;
            
        }

        .chat-order-avatar {
            grid-area: chat-order-avatar;
            align-self: flex-start;
            padding-top: 8px;

            img {
                border: 1px solid $clr-border;
                height: 90%;
                width: 90%;
            }
        }

        .chat-order-details {
            grid-area: chat-order-name;
            flex-direction: column;
            padding-top: 0.5rem;

            .chat-order-status {
                font-size: 0.8rem;
                text-transform: capitalize;

                .chat-order-time{
                    font-size: 0.7rem;
                }
            }

            .chat-order-name {
                font-family: cereal-Bold;
                margin-bottom: 2px;
            }

            .chat-order-msg {
                overflow: hidden;
                text-overflow: ellipsis;
                color: $clr-text-secondary;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                line-height: 15px;
                margin-bottom: 3px;
                white-space: nowrap;
                font-size: 12px;
            }

            .chat-show-status{
                &.completed{
                    color: #155724;
                }

                &.pending{
                    color: #856404;
                }

                &.cancelled{
                    color: #721c24;
                } 
                &.rejected{
                    text-decoration: line-through;
                }
            }

            .chat-mini-details{
                font-size: 0.8rem;
                margin-top: em(6px, 16px);
                .chat-mini-type{
                    font-size: 0.7rem;
                }
            }
        }
    }








