.inbox-list {
    overflow-y: auto;
    width: 320px;

    .border-buttom {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    //CHAT-ORDER-LIST
    .chat-order-preview {
        display: grid;
        padding: 2rem 1rem;
        grid-template-columns: 60px auto;
        grid-template-rows: 30px auto;
        grid-template-areas:
            'chat-order-avatar chat-order-name'
            'chat-order-avatar chat-order-name';
        column-gap: 10px;
        height: 150px;
        cursor: pointer;
        // border-bottom: 1px solid $clr-border;

        &:hover {
            background-color: $clr-hover-bg;
        }

        &.active {
            background-color: $clr-hover-bg-dark;
        }

        .chat-order-avatar {
            grid-area: chat-order-avatar;
            align-self: center;

            img {
                border: 1px solid $clr-border;
                height: 100%;
                width: 100%;
            }
        }

        .chat-order-details {
            grid-area: chat-order-name;
            flex-direction: column;

            .chat-order-status {
                font-size: 0.8rem;

                .chat-order-time{
                    font-size: 0.7rem;
                }
            }

            .chat-order-name {
                font-family: cereal-Bold;
            }

            .chat-order-msg {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            .chat-mini-details{
                font-size: 0.8rem;

                .chat-mini-type{
                    font-size: 0.7rem;
                }
            }
        }
    }








}