.order-summary-card {
  background-color: white;
  overflow: hidden;
  transform: translateZ(20px);
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 0px 20px;
  padding-right:24px;

}

.order-card-header {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}



.order-card-header-img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 24px;
}

.order-card-header-text {
  margin: 0px 1rem;
  font-size: 20px;
  margin: 0.5em 0px;
  position: relative;
  z-index: 1;
  line-height: 23px;
  font-family:cereal-book;
  color: $clr-text-primary;

  .order-card-header-subtitle {
      font-family: "cereal-regular";
      font-size: 15px;
      color: $clr-text-lighter;
  }
}


.order-card-body-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  &.price-row{
      justify-content: flex-end;
      gap: 1rem;
  }
}

.order-card-body-col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.order-card-body-row-title {
  font-family:cereal-medium;
  color: #333;
}

.order-card-body-row-value {
  font-weight: lighter;
  // color: #777;
  &.total-price {
      font-family: "cereal-Bold";
      font-size: 1rem;
      // color: green;
  }
}

.order-summary-actions{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}