.inbox-list {
    overflow-y: auto;
    width: 320px;

    &::-webkit-scrollbar {
        width: 0.3rem; /* width of the scrollbar */
        background-color: $clr-border; /* background color of the scrollbar */
      }
      
      &::-webkit-scrollbar-thumb {
        border-radius: 10px; /* roundness of the scrollbar thumb */
        background-color: $clr-brand; /* color of the scrollbar thumb */
      }


    .border-buttom {
        margin-right: 1rem;
        // margin-left: 1rem;
    }

    //CHAT-ORDER-LIST
    .chat-order-preview {
        display: grid;
        padding: 0.5em 0rem;
        grid-template-columns: 60px auto;
        grid-template-rows: 30px auto;
        grid-template-areas:
            'chat-order-avatar chat-order-name'
            'chat-order-avatar chat-order-name';
        column-gap: 10px;
        height: 110px;
        cursor: pointer;
        // border-bottom: 1px solid $clr-border;

        &:hover {
            background-color: $clr-hover-bg;
        }

        &.active {
            background-color: $clr-hover-bg-dark;
            padding-top:1rem;
        }

        .chat-order-avatar {
            grid-area: chat-order-avatar;
            align-self: center;

            img {
                border: 1px solid $clr-border;
                height: 100%;
                width: 100%;
            }
        }

        .chat-order-details {
            grid-area: chat-order-name;
            flex-direction: column;
            padding-top: 0.5rem;

            .chat-order-status {
                font-size: 0.8rem;
                text-transform: capitalize;

                .chat-order-time{
                    font-size: 0.7rem;
                }
            }

            .chat-order-name {
                font-family: cereal-Bold;
            }

            .chat-order-msg {
                overflow: hidden;
                text-overflow: ellipsis;
                color: $clr-text-secondary;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                line-height: 15px;
                margin-bottom: 3px;
            }

            .chat-mini-details{
                font-size: 0.8rem;
                margin-top: em(6px, 16px);
                .chat-mini-type{
                    font-size: 0.7rem;
                }
            }
        }
    }








}