.btnSquareSecond {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    padding: 13px 23px;

    background-color: #FFFFFF;

    border-color: hsl(0, 0%, 87%);
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;

    text-align: center;

    color: #222222;
    font-family: cereal-Medium;
    font-size: 1rem;
    line-height: 20px;

    transition: box-shadow 0.2s ease, transform 0.1s ease;
}