.btnNavRoundedBlack {
    padding: 4px 16px;
    min-height: 40px;

    background: #FFFFFF;

    border-color: rgb(221, 221, 221);
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;

    text-align: center;

    color: #222222;
    font-family: cereal-Book;
    font-size: 14px;
    line-height: 18px;
    line-break: strict;

    transition: box-shadow 0.2s ease, transform 0.1s ease;
    transition: 0.1s 500ms color, 0.1s 500ms background;
}

.btnNavRoundedBlack:hover {
    color: rgb(0, 0, 0);
    box-shadow: inset 0 0 0 1px black, 0 0 0 transparent;
}

.btnNavRoundedBlack:active {
    color: #FFFFFF;
    background: #343434;

    animation: press 1s forwards;
}

@keyframes press {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(.96);
    }

    60% {
        transform: scale(.96);
    }

    100% {
        transform: scale(1);
    }
}