.filter-bar {
  display: flex;
  align-items: center;

  margin-top: 10px;
  height: 100px;
  background-color: $clr-white;
  position: sticky;
  top: 80px;
  width: 100%;
  z-index: 9;
}

.btn-container {
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.carousel {
  display: flex;
  align-items: center;

  padding-top: 20px;
  overflow: scroll;
  background-color: $clr-white;

  .category {
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0.65;

    height: 54px;
    margin-top: 12px;
    margin-bottom: 10px;
    font-size: 12px;
    color: $clr-black;
    white-space: nowrap;
    font-weight: 600;
    text-align: center;
    line-height: 1rem;

    cursor: pointer;

    &:hover,
    &.active {
      opacity: 1;
    }
  }
}

.category-name {
  position: relative;

  &::after,
  &::before {
    content: '';
    position: absolute;
    height: 2px;
    right: 0;
    left: 0;
    bottom: -10px;
  }

  &::before {
    background-color: $clr-border;
    transform: scale(0);
    transition: transform ease-out 250ms;
  }

  .category:hover &::before {
    transform: scale(1);
  }

  .category.active &::before {
    background-color: $clr-black;
    transform: scale(1);
  }
}

.filter-bar-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-inline-start: 24px;

  font-size: 12px;
}

.filter-bar-btn-img {
  width: 14px;
}
