.stay-list {
  display: grid;
  width: 100%;
  margin-top: 16px;
  list-style-type: none;

  &-item {
    cursor: pointer;
  }
}

.preview {
  .image-slider {
    margin-bottom: 12px;
    border-radius: $border-radius;

    .heart {
      position: absolute;
      top: 30px;
      left: 80%;
      z-index: 5;
    }
  }
  p {
    font-size: 15px;
    line-height: 19px;
  }

  p:last-of-type {
    margin-top: 6px;
    color: $clr-text-primary;
  }
}
