.stay-list {
  display: grid;
  width: 100%;
  margin-top: 16px;
  list-style-type: none;

  &-item {
    cursor: pointer;
  }
}

.preview {
  text-align: left;

  .image-slider {
    margin-bottom: 12px;
    border-radius: $border-radius;

    .heart {
      position: absolute;
      display: flex;
      flex-flow: row-reverse;
      padding-inline-start: -11px;
      padding-right: 43px;
      padding-top: 15px;
    }
  }

  p {
    font-size: 15px;
    line-height: 19px;
  }

  p:last-of-type {
    margin-top: 6px;
    color: $clr-text-primary;
  }
}