// Colors
$clr-brand: hsl(349, 100%, 61%);
$clr-text-secondary: hsl(0, 0%, 44%);
$clr-text-primary: hsl(0, 0%, 13%);

$clr-border: hsl(0, 0%, 87%);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
