// Colors
$clr-brand: rgb(255, 56, 92);
$clr-text-grey: rgb(113, 113, 113);
$clr-text-black: rgb(34, 34, 34);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
